$blue: #4361ee;

.root {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  overflow: hidden;
  margin-bottom: 15px;
  position: relative;

  &:hover {
    .editButtons {
      opacity: 1;
    }
  }
  
  &Full {
    width: 65%;
  border: 1px solid #dedede;
  border-radius: 6px;
    margin-left: auto;
  margin-right: auto;
    &:hover {
      box-shadow: none;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 480px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 20px 20px;
  
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 10px;
  }
}

.imageWrapper {
  width: 50%;
  max-width: 100%;
  max-height: 100%;
  position: static;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &Full {
    min-height: 300px;
    height: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.indention {
  padding-left: 20px;
  flex: 1;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.content {
  margin: 30px 0 50px;

  p {
    font-size: 22px;
    line-height: 36px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.title {
  font-size: 28px;
  margin: 0;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }

  &Full {
    font-size: 42px;
    font-weight: 900;
  }

  @media (max-width: 768px) {
    font-size: 24px;

    &Full {
      font-size: 32px;
    }
  }

  @media (max-width: 480px) {
    font-size: 20px;

    &Full {
      font-size: 28px;
    }
  }
}

.tags {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;

  li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
  }
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  @media (max-width: 768px) {
    font-size: 12px;

    li {
      margin-right: 10px;
    }
  }

  @media (max-width: 480px) {
    font-size: 10px;

    li {
      margin-right: 5px;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

